<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="76x76" href="">
    <link rel="icon" type="image/png" href="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <title>SIED-ADMIN</title>
    @Styles.Render("~/Content/fontsGoogle.css")
    @Styles.Render("~/Content/font-awesome.min.css")
    @Styles.Render("~/Content/bootstrap.min.css")
    @Styles.Render("~/Content/paper-dashboard.css?v=2.0.0")
    @Styles.Render("~/Content/demo.css")
    @Styles.Render("~/Content/datatables.min.css")
    @Styles.Render("~/Content/transicion.css")
</head>

